#실제 서비스 운영
#절대 SQL 로그 없음
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://localhost:3306/foodtruck
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: prod_user
    password: prod_password

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

logging:
  level:
    root: INFO
    org:
      hibernate:
        SQL: OFF
